<h1>Bienvenue sur The Gossip Project</h1>
<p>Découvre les derniers potins de la ville 😎</p>
<div>


<ul>
    <% @gossips.each do |gossip| %>
        <li>
        <strong><%= gossip.author.first_name %></strong>
    <%= link_to gossip.title, gossip_path(gossip) %>
    </li>
    <% end %>
</ul>